<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="gr.wizzup.cordova.plugins.checkgps"
    version="0.0.1">

    <name>CheckGPS</name>
    <description>CheckGPS Plugin</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/checkgps.js" name="checkgps">
        <clobbers target="cordova.plugins.screenorientation" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/gr/wizzup/cordova/plugins/checkgps/CheckGps.java" target-dir="src/gr/wizzup/cordova/plugins/checkgps/" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CheckGps">
                <param name="android-package" value="gr.wizzup.cordova.plugins.checkgps.CheckGps" />
            </feature>
        </config-file>
    </platform>

</plugin>